*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.MainApp{
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.password{
  display: flex;
  justify-content: center;
  width: 100%;

}
.password input{
  width: 100%;
  height: 50px;
  outline: none;
  padding: 10px;
}
.password button{
padding: 10px 25px;
  height: 50px;
  outline: none;
  background-color: blue;
  border: none;
  cursor: pointer;
  width: 100px;
}
.tools{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center ;
  color: orange;
  height: 100px;
}
label{
  margin: 0 5px;
}
.number , .character, .range {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.passwordApp{
  width: 70%;
  max-width: 800px;
}
@media screen and (max-width: 400px) {
  .tools{
     flex-direction: column;
     align-items: flex-start;
  }
  .number , .character, .range{
    justify-content: flex-start;
    margin: 5px;
  }
  body{
    min-width: 250px;
    background-color: gray;
  }
  
}